    <!-- JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/joi/dist/joi-browser.min.js"></script>
    <!-- 
    <script src="/socket.io/socket.io.js"></script> -->

	<% if(jsFile === 'index'){%>
        <script type="text/javascript" src="/javascripts/chatroom.js"></script>
    	<script type="text/javascript" src="/javascripts/group-chatroom.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>
    <% }else if(jsFile === 'login'){%>
        <script type="text/javascript" src="/javascripts/login.js"></script>
    <% }%>

</body>
</html>